<div class="position-fixed top-0 end-0 p-3" style="z-index: 100; width: 375px">
  @if (service.isOpen) {
  <div class="notification shadow-sm" [ngClass]="className()" role="alert">
    <div class="notification-icon flex-shrink-0">
      @if (service.type =='primary') {
      <i class="bi bi-info-circle"></i>
      } @else if (service.type == 'success') {
      <i class="bi bi-check-circle"></i>
      } @else if (service.type == 'danger') {
      <i class="bi bi-x-circle"></i>
      } @else if (service.type == 'warning') {
      <i class="bi bi-exclamation-triangle"></i>
      } @else if (service.type == 'info') {
      <i class="bi bi-info-circle"></i>
      }
    </div>
    <div class="notification-content" [innerHTML]="service.message" >

    </div>
  </div>
  }
</div>
