<div class="card login-form">
  <div class="card-header py-3">
    <h3 class="p-0 m-0">Login</h3>
  </div>

  <form [formGroup]="loginForm" class="p-3">

    <app-alert *ngIf="errorMessage" type="danger">
      {{ errorMessage }}
    </app-alert>

    <app-entry formControlName="email" label="Email" ></app-entry>
    <app-entry formControlName="password" type="Password" label="Password" ></app-entry>

    <app-checkbox formControlName="rememberMe" label="Remember me" ></app-checkbox>

    <div class="pt-4">
      <button type="button" (click)="login()" class="btn w-100 btn-primary">Login</button>
    </div>
  </form>
</div>
