<div
  class="card my-3"
  [class.border-danger]="isOverDue()"
  [class.border-success]="isCompleted()"
>
  <div
    class="card-header d-flex justify-content-between align-items-center bg-ph-card-header"
  >
    <div>
      <button class="btn px-1" (click)="togglePinReminder.emit(item)">
        @if(item.priority) {
        <img src="/icons/icon1.svg" />
        } @else {
        <img src="/icons/icon2.svg" />
        }
      </button>
      <span class="mx-1" style="vertical-align: middle">{{
        item.dueDate
      }}</span>
      <span
        class="badge ms-2"
        [class.text-bg-secondary]="!isOverDue()"
        [class.text-bg-danger]="isOverDue()"
        [class.text-bg-success]="item.status === 'COMPLETED'"
      >
        {{ status() }}
      </span>
    </div>
    <div>
      <button class="btn px-1" (click)="deleteReminder.emit(item)">
        <img src="/icons/icon3.svg" />
      </button>

      <button class="btn px-0">
        <img src="/icons/icon4.svg" />
      </button>

      <button
        class="btn px-1"
        [class.disabled]="isCompleted()"
        [class.border-0]="isCompleted()"
        (click)="markCompleted.emit(item)"
      >
        <img src="/icons/icon5.svg" />
      </button>
    </div>
  </div>
  <div class="card-body">
    <h6 class="card-title fw-semibold text-primary">{{ item.description }}</h6>
    @for (note of item.notes; track note._id) {
      <p class="card-text my-1">{{ note.title }}</p>
    }
  </div>
</div>
