<nav
  class="navbar navbar-expand-md navbar-light"
  style="border-bottom: 1px solid #dbe4e5"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="ph-logo.png"
        alt="Logo"
      />
    </a>

    <!-- Navbar toggle button for mobile view -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto">
        <!-- 'ms-auto' aligns the items to the right -->
        <!-- Reminders Link with icon -->
        <li class="nav-item px-4">
          <a
            [routerLink]="['/dashboard']"
            routerLinkActive="router-link-active"
            class="nav-link"
          >
            <i class="bi bi-house-door-fill text-primary px-2"></i> Home
          </a>
        </li>

        <!-- Users Link with icon -->
        <li class="nav-item px-4">
          <a
            [routerLink]="['/admin/users']"
            routerLinkActive="router-link-active"
            class="nav-link"
          >
            <i class="bi bi-people-fill text-primary px-2"></i> Users
          </a>
        </li>

        <!-- Login Link with icon -->
        <li class="nav-item px-4">
          <a
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            class="nav-link"
          >
            <i class="bi bi-box-arrow-in-right text-primary px-2"></i> Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="p-5">
  <div>
    <app-dialog-service></app-dialog-service>
    <app-notification-service></app-notification-service>
    <router-outlet></router-outlet>
  </div>
</main>
